<?xml version="1.0" encoding="UTF-8"?>

<beans>

<context:component-scan base-package="springmvc.controller"></context:component-scan>
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver">

<property name="prefix" value="/WEB_INF/views/" />
<property name="suffix" value=".jsp" ></property>

</bean>
</beans>